.chip {
    display: inline-block;
    padding: 0 25px;
    height: 40px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    /* background-color: #276b80b2; */
    background-color: #f1f1f1ee;

  }
  
  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 40px;
    width: 50px;
    border-radius: 50%;
  }
  
  .chipcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height : 50px ;
  }

  .username {
    margin-top:-5px ;
    /* border: 1px solid red; */
    width: 120px;
    padding-right: 10px;
  }
  .chipcontainer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height : 50px ;
  }

  .username2 {
    margin-top:-5px ;
    /* border: 5px solid red; */
    width: 120px;
    padding-right: 20px;
  }

  .chip3 {
    display: inline-block;
    padding: 0 0px;
    height: 40px;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 40px;
    border-radius: 25px;
    /* background-color: #276b80b2; */
    background-color: whitesmoke;
    border: 5px solid rgba(126, 83, 228, 0.808);
    left: 450px;
    position: absolute;


  }

  .chipcontainer3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height : 40px ;
    /* left: 100px; */
    /* border: 5px solid black; */
    margin-bottom:-4px ;
    /* width:600px; */



  }

  .username3 {
    margin-top:-7px ;
    /* border: 5px solid red; */
    width: 435px;
    padding-right: 250px;
    /* left: 300px; */

  }


  .test{
    width: 325px;
    /* border: 1px solid  red; */
  }

  .fonts{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .fonts1{
    font-family:fantasy;
  }