/* body {
  background-image: url("../../media/images/github.png");
} */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .cardB {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 440px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  .fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
  }
  
  .fa:hover {
    color: darkblue;
  }

  img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }  

.hello {
  /* border: 1px solid red; */
  width: 35px;
  position: absolute;
  top: 150px;
  left: 30px;
  font-size: 50px;
}

.bye {
  /* border: 1px solid red; */
  width: 35px;
  position: absolute;
  top: 150px;
  right: 100px;
  font-size: 50px;
}

.konichiwaindex {
  width: 35px;
  position: absolute;
  top: 150px;
  left: 30px;
  font-size: 30px;
  border-radius: 20px; 
  border: 2px solid whitesmoke;
}

.sayonaraindex {
  width: 35px;
  position: absolute;
  top: 50px;
  right: 100px;
  font-size: 30px;
  border-radius: 20px; 
  border: 2px solid whitesmoke;
}


.notification {
  /* border: 1px solid red; */
  width: 35px;
  position: absolute;
  top: 150px;
  right: 100px;
  font-size: 25px;
}

.notificationleft {
  /* border: 1px solid red; */
  width: 35px;
  position: absolute;
  top: 210px;
  left: 30px;
  font-size: 25px;
}



.editleft {
  border: 1.2px solid rgba(255, 0, 0, 0.76);
  width: 35px;
  position: absolute;
  top: 150px;
  left: 30px;
  font-size: 23px;
  border-radius: 20px;

}

.editright {
  border: 2px solid rgba(0, 255, 106, 0.623);
  width: 35px;
  position: absolute;
  top: 2px;
  right: 100px;
  font-size: 23px;
  border-radius: 20px;
}

.editright2 {
  /* border: 1px solid red; */
  width: 35px;
  position: absolute;
  top: 3px;
  right: 50px;
  font-size: 23px;
  border-radius: 20px;
  border: 2px solid rgba(228, 83, 184, 0.644);

}

/* .pt-3{
   width: 35px;
  position: absolute;
  top: 3px;
  right: 50px;
  font-size: 23px; 
  border-radius: 20px; 
  border: 2px solid rgba(228, 83, 184, 0.644);

} */
.addpost {
  /* border: 1px solid red; */
  width: 35px;
  position: absolute;
  top: 180px;
  left: 30px;
  font-size: 50px;
}

.addpostright {
  width: 35px;
  position: absolute;
  top: 50px;
  right: 100px;
  font-size: 50px;
}

.logo-font {
  font-family: fantasy;
  font-size: 2em;
  color: rgba(182, 17, 168, 0.603);
  /* border: 1px solid red; */

}

/* .console {
  min-height: 75px;

}

.container1 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

} */

.postimage {
  /* border: 1px solid red; */
  width: 35px;
  position: absolute;
  top: 180px;
  left: 60px;
  font-size: 35px;
}

.postimageright {
  width: 35px;
  position: absolute;
  top: 30px;
  right: 70px;
  font-size: 35px;
}
