/* nav {
    display: flex;
    flex-wrap: wrap;
    min-height: 40px;
    justify-content: center;
    color: white;
    background-color: rgb(141, 72, 120);
  }
  a {
    color: rgb(247, 238, 238);
    padding: 3%;
  } */

  body {
    background: url('../../media/images/animehome.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
  }