{% extends "base.html" %} {% load static %} {% block content %}
<!DOCTYPE html>

<html>
  <head> </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">WELL THIS IS AKWARD, PLEASE RETURN TO SAFETY</h1>
        <p class="lead">
          <p class="lead">
            <!-- <a class="btn btn-success btn-lg" href="/" role="button">Back To Safety</a> -->
            <a href="/" class="btn btn-primary">🏠Home</a>&nbsp;
          </p>

        </p>
      </div>
    </div>
  </body>
</html>
{% endblock %}
