{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- TODO 3: Repeat TODO 1 -->
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!-- </br> -->

<body>
    <!-- <div class="">
    {% if not pro %}
    <h2> ⭕ The user you are looking for does not exist</h2>
    {% else %}
    <h1><a href="/">🏛 Home</a>{{ pro.username }}</h1> -->
    <!-- <a href="/" class="btn btn-primary">✅{{ pro }}</a> -->
    <!-- {% if request.user.id == pro.id %}
    <a href='edit/' class="btn btn-primary">⌨️ Edit Anime Profile</a>
    <a href='delete/' class="btn btn-primary"
        onclick="return confirm('🛑 Are you 💯 sure you want to delete your anime profile 👨‍💻 ⁉️')">❌ Delete Anime
        Profile</a> -->
    <!-- </div>
{% endif %} -->
    <!-- <div class="">
    <div class="d-flex justify-content-start">
        <p class="h3"></p>

        {% if request.user.id != pro.id %}
        {% if pro in user_following %}
        <p class="h1 ml-5 "><a href="/unfollow/{{ pro.id }}/" type="button"
                class="btn btn-primary mx-auto btn-lg ">Unfollow</a></p>
        {% else %}
        <h1>

        </h1>
        <p class="h1 ml-5 "><a href="/follow/{{ pro.id }}" type="button"
                class="btn btn-primary mx-auto btn-lg ">Follow</a></p>
        {% endif %}
        {% endif %}

    </div>
</div> -->
    <div class="card">
        <div class="d-flex justify-content-start flex-wrap white">
            {% if pro.avatar %}
            <h5 style="text-align:center">
                <div class="chip">
                    <img src="{{ pro.avatar.url }}" alt="Person" width="20" height="20">
                    {{ pro.username }}❤
                </div>🔥🔥🔥🔥 アニメ カード

                <img class="img-thumbnail m-auto" src="{{ pro.avatar.url }}" alt="{{pro.username}}"
                    style="width: 300px; height: 270px" />
                <div style="margin: 16px 0;">
                    <p> ✔️First Name: {{pro.first_name}}</p>
                    <p> ✔️Last Name: {{pro.last_name}}</p>
                    <p> 📧 email: {{pro.email}}</p>
                    <p> 🎴 About me: {{pro.about_me}}</p>
                    <!-- <p> Genre: {{pro.anime_genre}}</p> -->
                    <!-- <div class="chip">
                    <img src="{{ pro.avatar.url }}" alt="Person" width="96" height="96">
                    ❤️
                    {{pro.username}}
                    ❤️
                </div> -->

                    <br />
                    </a>

                    <!-- <a href="#"><i class="fa fa-dribbble"></i></a> -->
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-google-plus btn-google-plus"></i></a>
                    <a href="#"><i class="fa fa-pinterest btn-pinterest"></i></a>
                    <a href="#"><i class="fa fa-reddit btn-reddit"></i></a>
                    <a href="#"><i class="fa fa-dropbox btn-dropbox"></i></a>
                    <div class="">
                        <div class="d-flex justify-content-start">
                            <p class="h3"></p>

                            {% if request.user.id != pro.id %}
                            {% if pro in user_following %}
                            <p class="h1 ml-5 "><a href="/unfollow/{{ pro.id }}/" type="button"
                                    class="btn btn-primary mx-auto btn-lg ">Unfollow</a></p>
                            {% else %}
                            <h1>

                            </h1>
                            <p class="h1 ml-5 "><a href="/follow/{{ pro.id }}" type="button"
                                    class="btn btn-primary mx-auto btn-lg ">Follow</a></p>
                            {% endif %}
                            {% endif %}

                        </div>
                    </div>
                    {% if request.user.id == pro.id %}

                    <a href='edit/' class="">⌨️</a>

                    <a href='delete/' class=""
                        onclick="return confirm('🛑 Are you 💯 sure you want to delete your anime profile 👨‍💻 ⁉️')">❌</a>
                    {% endif %}

                </div>
                <p> ©️ アニメ enthusiast since: {{ pro.created_on }}</p>
                <p><a href="/">
                        <button>
                            🏠 Home
                        </button>
                    </a>

                    {% else %}
                    <img class="img-thumbnail" src="/static/images/default.jpg" alt="{{ pro.username }}"
                        style="width: 150px; max-height: 200px" />
                    {% endif %}


        </div>
        <!-- <div class="">
        {% if pro.avatar %}
        <img class="img-thumbnail" src="{{ pro.avatar.url }}" alt="{{ pro.username }}" width="150" max-height="200" />
        {% else %}
        <img class="img-thumbnail" src="/static/images/default.jpg" alt="{{ pro.username }}"
            style="width: 150px; max-height: 200px" />
        {% endif %}
    </div>
    </br> -->
        <!-- <div class="">
            <i>AnimeGram enthusiast since: {{ pro.created_on }}</i>
            <p>My email: {{pro.email}}</p>
            <p>About me: {{pro.about_me}}</p>
            <div class="chip">
                <img src="{{ pro.avatar.url }}" alt="Person" width="96" height="96">

                {{pro.username}}

            </div>

            {% endif %}
        </div> -->

</body>

</html>

{% endblock %}