{% extends "base.html" %} {% block content %}
</br>
<div class="">
    {% if not pro %}
    <h2> ⭕ The user you are looking for does not exist</h2>
    {% else %}
    <h1><a href="/">🏛 Home</a>{{ pro.username }}</h1>
    <a href="/" class="btn btn-primary">✅{{ pro }}</a>
    {% if request.user.id == pro.id %}
    <a href='edit/' class="btn btn-primary">Edit Anime Profile</a>
    <a href='delete/' class="btn btn-primary"
        onclick="return confirm('Are you sure you want to delete your anime profile?')">Delete Anime Profile</a>
</div>
{% endif %}
<div class="">
    <div class="d-flex justify-content-start">
        <p class="h1">👨‍💻{{ pro.username }}</p>

        {% if request.user.id != pro.id %}
        {% if pro in user_following %}
        <p class="h1 ml-5 "><a href="/user/unfollow/{{pro.id}}/" type="button"
                class="btn btn-primary mx-auto btn-lg ">Unfollow</a></p>
        {% else %}
        <p class="h1 ml-5 "><a href="/user/follow/{{pro.id}}/" type="button"
                class="btn btn-primary mx-auto btn-lg ">Follow</a></p>
        {% endif %}
        {% endif %}

    </div>
</div>

<div class="">
    {% if pro.avatar %}
    <img class="img-thumbnail" src="{{ pro.avatar.url }}" alt="{{ pro.username }}"
        style="width: 150px; max-height: 200px" />
    {% else %}
    <img class="img-thumbnail" src="/static/images/default.jpg" alt="{{ pro.username }}"
        style="width: 150px; max-height: 200px" />
    {% endif %}
</div>
</br>
<div class="">
    <i>AnimeGram enthusiast since: {{ pro.created_on }}</i>
    <p>My email: {{pro.email}}</p>
    <p>About me: {{pro.about_me}}</p>
    {% endif %}
</div>
</div>
{% endblock %}