{% extends "base.html" %}
{% load static %}
{% block content %}
<br>
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <a href="javascript:history.go(-1)">👽</a>&nbsp; -->
    <a href="/profile/{{request.user.username}}">🐱‍💻</a>
    <a href="/newpost/">🐱‍🏍</a>
    <a href="/animefeed/">🐱‍👤</a>
    <!-- <a href="/notifications/">🔔</a> -->



</head>

<body>
    <div>
        <h1 class="editright">
            <a href="javascript:history.go(-1)">㊙️</a>&nbsp;
            <!-- <br />こ<br />ん<br />ち<br />は<br />皆<br />さ
            <br />ん -->
            <br />投<br />稿<br />を<br />編<br />集<br />す<br />る<br />°
        </h1>
        <br />
        <h2 class="editright2">
            <a href="javascript:history.go(-1)">㊗️</a>
            <br /> あ<br />な<br />た<br />の<br />写<br />真<br />を<br />送<br />っ<br />て<br />く<br />だ<br />さ<br />い<br />°
            <!-- <br />こ<br />ん<br />ち<br />は<br />皆<br />さ
            <br />ん -->
        </h2>
        <div>
            <h1 class="editleft">
                <a href="/notifications/">🔔</a><br />


                こ<br />ん<br />ち<br />は<br />皆<br />さ <br />ん
            </h1>



            <!-- </br>
    <div class="">
        <a href="https://www.messentools.com/en/msn-emoticon-details-and-download/id/1655/" target="_blank"
            title="Emoticon Dee Jay - Street Fighter"><img border="0" style="width: 35px;"
                alt="Emoticon Dee Jay - Street Fighter"
                src="https://www.messentools.com/images/emoticones/games/www.MessenTools.com-Games-street_fighter-08.gif"></a>&nbsp;🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥
        <a href="/"> 🏛 </a>
    </div> -->

            <div class="container1">
                <div class="d-flex justify-content-start flex-wrap white">
                    <div class="mx-auto shadow-lg p-3 mb-5 bg-white rounded mt-5">
                        <div class="text-center mb-4">
                            <div class="console logo-font">
                                <h2><a href="https://www.messentools.com/en/msn-emoticon-details-and-download/id/3873/"
                                        target="_blank" title="Emoticon Street Fighter 15"><img border="0"
                                            style="width: 65px;" alt="Emoticon Street Fighter 13"
                                            src="https://www.messentools.com/images/emoticones/street-fighter/www.MessenTools.com-games-street-fighter-014.gif"></a>
                                    Edit アニメグラム <a href="/"> 🏠 </a></h2>
                            </div>
                            <div class="d-flex justify-content-center align-items-center" style="width: 100%;">




                                <form class="" action="" enctype="multipart/form-data" method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <br>
                                    <br>
                                    <input type="submit">✅Save Profile</input>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>













</body>

</html>
{% endblock %}