{% extends "base.html" %} {% block content %}

</br>
<div id="postform"></div>
{% if request.user.is_authenticated != True %}
<h1>Welcome to AnimeGram!</h1>
</br>
<h3>Please sign in ⬇️</h3>
</br>
{% endif %}

<div class="container">
    <a href="/" class="btn btn-primary">🏠Home</a>

    <div>
        <h3>Please sign in ⬇️</h3>
        <form action="" enctype="multipart/form-data" method="post">
            {% csrf_token %} {{ form.as_p }}
            <input type="submit" value="Submit Form" />
        </form>
    </div>
</div>
{% endblock %}