{% extends "base.html" %} {% block content %}
<div id="postform"></div>
<!-- {% if request.user.is_authenticated != True %}
<h3>Welcome to AnimeGram!</h3>
{% endif %} -->

<div class="">
  <a
    href="https://www.messentools.com/en/msn-emoticon-details-and-download/id/1657/"
    target="_blank"
    title="Emoticon Edmond Honda - Street Fighter"
    ><img
      border="0"
      style="width: 35px;"
      alt="Emoticon Edmond Honda - Street Fighter"
      src="https://www.messentools.com/images/emoticones/games/www.MessenTools.com-Games-street_fighter-10.gif" /></a
  >&nbsp;🔥🔥🔥<a href="/">🏠</a>
  <h3>Welcome to AnimeGram!</h3>

  <div>
    <h3>Please sign in ⬇️</h3>
    <form action="" enctype="multipart/form-data" method="post">
      {% csrf_token %} {{ form.as_p }}
      <input type="submit" class="btn btn-primary mb-2" value="Submit" />
    </form>
  </div>
</div>
{% endblock %}
