{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- TODO: repeat todo1 and move the navbar to the base -->

<!DOCTYPE html>
<html>

<head></head>

<body>


    <div align="left">

        <a href="javascript:history.go(-1)">👽</a>&nbsp;
        <a href="/" class="btn btn-primary">🏠Home</a>&nbsp;
        <a href="/signup/" class="btn btn-primary">🖋️Signup</a>
        {% if request.user.is_authenticated %}
        <a href="/logout/" class="btn btn-primary">🔓Logout</a>
        <a href="/profile/{{request.user.username}}" class="btn btn-primary">👨‍Profile</a>
        <a href="/newpost/" class="btn btn-primary">Add Post</a>
        <a href="/animefeed/" class="btn btn-primary">Anime Feed</a>
        <a href="/notifications/" class="btn btn-primary">📜 Notifications</a>


        {% else %}
        <a href="/login/" class="btn btn-primary">🔒Login</a>

        {% endif %}

    </div>

    <div class="">


        <!-- 🔥🔥🔥
            アニメグラム へようこそ
            🔥🔥🔥</h3> -->

        <!-- アニメグラム へようこそ -->

        <!-- <h1>Heyo, {{ request.user.username }}!</h1> -->
        <!-- important -->
        <!-- <h1>こんにちは皆さん
            {{ request.user.username }}!</h1> -->


        <!-- <i>AnimeGram enthusiast since: {{ request.user.created_on }}</i> -->
    </div>


    <!-- {% for post in posts%}
        <a href="/postdetail/{{post.id}}/">
            <img src="{{ post.image.url }}" alt="image postings">
        </a>
        
        {{post.image_caption}}
        
        {% endfor %} -->




    <div class="container">
        <br class="d-flex justify-content-start flex-wrap white">

        <h3 class="text-center pt-3"><a href="https://www.messentools.com/en/msn-emoticon-details-and-download/id/3859/"
                target="_blank" title="Emoticon Street Fighter 1"><img border="0" style="width: 18px;"
                    alt="Emoticon Street Fighter 1"
                    src="https://www.messentools.com/images/emoticones/street-fighter/www.MessenTools.com-games-street-fighter-000.gif"></a>
            <strong>🔥🔥🔥 アニメグラム へようこそ @ {{ request.user.username }}さん 🔥🔥🔥</strong>
        </h3>

        <h1 class="hello">こ<br />ん<br />ち<br />は<br />皆<br />さ <br />ん</h1>
        <h1 class="bye">こ<br />ん<br />ち<br />は<br />皆<br />さ <br />ん</h1>

        {% for post in posts %} {% if post.image %}
        <a href="/postdetail/{{post.id}}/">
            <img class="img-thumbnail m-auto" src="{{ post.image.url }}" alt="{{ post.image_caption }}"
                style="width: 256px; height: 256px; margin: 3px 0;" />
        </a>
        {% else %}
        <a href="/postdetail/{{post.id}}/">
            <img class="img-thumbnail" src="/static/images/default.jpg" alt="{{ post.image_caption}}"
                style="width: 258px; height: 258px" />
        </a>
        {% endif %} {% endfor %}
    </div>
    </div>


    <!-- <div class=""> -->
    <!-- <p>user = {{request.user}}</p>
    <p>user = {{request.user.avatar}}</p>
    <p>user = {{ request.user.created_on }}</p> -->

    <!-- {% if request.user.is_authenticated %}
    {% if request.user.avatar%}

    <img class="img-thumbnail" src="{{ request.user.avatar.url }}" alt="{{ request.user.username }}"
        style="width: 266px; max-height: 240px" />
    {% endif %}
    {% else %}
    <img class="" src="/media/images/default.jpg" alt="{{ users.username }}" style="width: 266px; max-height: 240px" />
    {% endif %}
</div> -->

    <div>
        <h6 style="text-align:center">
            <i><strong>&copy;AnimeGram enthusiast since: {{ request.user.created_on }}</strong></i>
        </h6>
    </div>
</body>

</html>

{% endblock %}