{% extends "base.html" %} {% block content %}
</br>
<div align="left">

    <a href="javascript:history.go(-1)">👽</a>&nbsp;
    <a href="/" class="btn btn-primary">🏠Home</a>&nbsp;
    <a href="/signup/" class="btn btn-primary">🖋️Signup</a>
    {% if request.user.is_authenticated %}
    <a href="/logout/" class="btn btn-primary">🔓Logout</a>
    <a href="/{{request.user.username}}/" class="btn btn-primary">👨‍Profile</a>

    {% else %}
    <a href="/login/" class="btn btn-primary">🔒Login</a>

    {% endif %}

</div>

<div class="container">
    <h3><a href="https://www.messentools.com/en/msn-emoticon-details-and-download/id/3859/" target="_blank"
            title="Emoticon Street Fighter 1"><img border="0" alt="Emoticon Street Fighter 1"
                src="https://www.messentools.com/images/emoticones/street-fighter/www.MessenTools.com-games-street-fighter-000.gif"></a>🔥🔥🔥
        Welcome to AnimeGram🔥🔥🔥</h3>
    <h1>Heyo, {{ request.user.username }}!</h1>
    <i>AnimeGram enthusiast since: {{ request.user.created_on }}</i>
</div>

<div class="container">
    <p>user = {{request.user}}</p>
    <p>user = {{request.user.avatar}}</p>

    {% if request.user.is_authenticated %}
    {% if request.user.avatar%}

    <img class="img-thumbnail" src="{{ request.user.avatar.url }}" alt="{{ request.user.username }}"
        style="width: 266px; max-height: 240px" />
    {% endif %}
    {% else %}
    <img class="" src="/media/images/default.jpg" alt="{{ users.username }}" style="width: 266px; max-height: 240px" />
    {% endif %}
</div>

{% endblock %}