{% extends "base.html" %} {% block content %}
<div id="postform"></div>
{% if request.user.is_authenticated != True %}
<br />
<br>
<!-- <a href="https://www.messentools.com/en/msn-emoticon-details-and-download/id/1663/" target="_blank"
    title="Emoticon Blanka - Street Fighter"><img border="0" style="width: 35px" alt="Emoticon Blanka - Street Fighter"
        src="https://www.messentools.com/images/emoticones/games/www.MessenTools.com-Games-street_fighter-16.gif"></a>&nbsp;🔥🔥🔥 -->
<br />

<div class="card">
    <div class="d-flex justify-content-start flex-wrap white">
        <div class="mx-auto shadow-lg p-3 mb-5 bg-white rounded mt-5">
            <div class="text-center mb-4">
                <div class="console logo-font">

                    <a href="/signup/">🖋️Signup</a>
                    <h3>Welcome to アニメグラム!</h3>

                    </br>
                    <div class="">
                        <div>

                            <h3>Please Login in 🔒</h3>
                            </br>
                            {% endif %}

                            <form action="" enctype="multipart/form-data" method="post">
                                {% csrf_token %}
                                {% for field in form.visible_fields %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label}}">{{ field.label }}</label>
                                    <input type="{{field.field.widget.input_type}}" name="{{field.name}}"
                                        class="form-control" id="{{ field.id_for_label}}"
                                        placeholder="{{ field.label }}">
                                </div>
                                {% endfor %}

                                <input type="submit" value="Submit" />
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <br>
        {% endblock %}