{% extends "base.html" %} {% block content %}
<div id="postform"></div>
{% if request.user.is_authenticated != True %}
<h1>Welcome to AnimeGram!</h1>
</br>
<div class="">
    <a href="https://www.messentools.com/en/msn-emoticon-details-and-download/id/1663/" target="_blank"
        title="Emoticon Blanka - Street Fighter"><img border="0" alt="Emoticon Blanka - Street Fighter"
            src="https://www.messentools.com/images/emoticones/games/www.MessenTools.com-Games-street_fighter-16.gif"></a>&nbsp;🔥🔥🔥<a
        href="/">🏛️Home</a>
    <div>

        <h3>Please Login in 🔒</h3>
        </br>
        {% endif %}
        <form action="" enctype="multipart/form-data" method="post">
            {% csrf_token %} {{ form.as_p }}
            <input type="submit" value="Submit Form" />
        </form>
    </div>

</div>
{% endblock %}