{% extends "base.html" %} {% block content %}
<div id="postform"></div>
{% if request.user.is_authenticated != True %}
<br />
<a href="https://www.messentools.com/en/msn-emoticon-details-and-download/id/1663/" target="_blank"
    title="Emoticon Blanka - Street Fighter"><img border="0" style="width: 35px" alt="Emoticon Blanka - Street Fighter"
        src="https://www.messentools.com/images/emoticones/games/www.MessenTools.com-Games-street_fighter-16.gif"></a>&nbsp;🔥🔥🔥
<a href="/signup/">🖋️Signup</a>
<h3>Welcome to アニメグラム!</h3>

</br>
<div class="">
    <div>

        <h3>Please Login in 🔒</h3>
        </br>
        {% endif %}
        <form action="" enctype="multipart/form-data" method="post">
            {% csrf_token %} {{ form.as_p }}
            <input type="submit" value="Submit Form" />
        </form>
    </div>

</div>
{% endblock %}