{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- TODO 2: Repeat todo 1 -->
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h3>🈁</h3>
    <h1 class="notification">🔔<br />ア<br />ニ<br />メ <br />グ<br />ラ<br />ム<br />
        か<br />ら<br />の<br />お<br />知<br />ら<br />せ<br />°</h1>
    <h1 class="notificationleft">
        <a href="/">🏠</a><br />ホ<br />ー<br />ム<br />ペ<br />ー<br />ジ<br />°
    </h1>
    <div class="container-fluid">
        <br>
        {% for alert in notifications %}

        <ul class="collection">
            <li class="collection-item avatar">
                <div class="notification-box">
                <img src="{{ alert.publisher.avatar.url }}" alt="" class="circle">
               <div class="notification-minibox">
                    <span class="title">✔️<strong></strong>{{ alert.publisher.username }}</strong></span>
                    👉{{ alert.follow_message }}<br>
                    <p>✔️{{ alert.date }}
                    </p>
               </div>
                </div>
            </li>
        </ul>
        {% endfor %}

    </div>


</body>

</html>
{% endblock %}