{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1><a href="/">🏛 Home</a>{{ pro.username }}</h1>



<div class="container-fluid">
    <h2> ⭕ Notifications</h2>

    <br>
    {% for alert in notifications %}

    <ul class="collection">
        <li class="collection-item avatar">
            <img src="{{ alert.publisher.avatar.url }}" alt="" class="circle">
            <span class="title">{{ alert.publisher.username }}</span>
            print({{alert.publisher.username}})
            <!-- <h3>✔️<a href="/profile/{{ alert.anime_user.id }}/">{{ alert.anime_user }}</a></h3> -->

            <p>{{ alert.date }} <br>
                {{ alert.message }}
            </p>
            <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
        </li>
    </ul>
    {% endfor %}

</div>






{% endblock %}