{% extends "base.html" %}
{% block content %}
<div class="comments mx-auto border-bottom border-left border-right">
    <div class="border-bottom caption">
        <p class="p-4"><span class="bold">{{ anime.username }} </span><span class="cap-text">{{anime.caption}}</span>
        </p>
    </div>
    {% for comment in comment_list %}
    <div class="border-bottom">
        <div>{{ comment.created_on }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.content|linebreaks }}</p>
        {% if request.user.id == car.poster.id or request.user.id == comment.author.id %}
        <a href='/comment/{{comment.id}}/delete/'
            onclick="return confirm('Are you sure you want to delete this comment?')">Delete Comment</a>
        {% endif %}
        {% if request.user.id == comment.author.id %}
        <a href='/comment/{{comment.id}}/edit/'>Edit Comment</a>
        {% endif %}
        <span class="detail_icons m-2"><a href="/comment/{{ comment.id }}/like/"><i class="far fa-heart"
                    style="font-size:18px"></i></a></span>
        <span class="h5 ml-3 pb-2">Liked {{ comment.likes}} times</span>
    </div>
    {% empty %}
    <p>No comments here yet :(</p>
    {% endfor %}
</div>
</div>

{% endblock %}