{% extends 'base.html' %}

{% load static %}


{% block content %}

<div>
    <a href="/">
        <button>
            🏠 Home
        </button>
    </a>
</div>

<br>

<div>
    <img src="{{post.image.url}}" alt="post">
</div>

<div>
    <button>
        {{ post.post_total }}
    </button>
</div>
<a href='/like/{{ post.id }}/'>
    <button>
        LIKE
    </button>
</a>

<a href='/dislike/{{ post.id }}/'>
    <button>
        DISLIKE
    </button>
</a>

<br>

<div class="card-content">
    <div class="media">

        <div class="card-content">

            {% for comment in comments %}
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        {% if comment.user.pro.post_image %}
                        <img src="{{ comment.post.image.url }}" alt="Placeholder image">
                        {% else %}
                        <img src="/media/images/1.gif" alt="Placeholder image">
                        {% endif %}
                    </p>
                </figure>

                <div class="media-content">
                    <div class="content">
                        <p>
                            {% if comment.user.pro.first_name %}
                            <strong>{{ comment.user.pro.first_name }} {{ comment.user.pro.last_name }}</strong><small>
                                @{{ comment.author }}</small>
                            {% else %}
                            <strong>Comment</strong>
                            <div>
                                <button>
                                    {{ comment.comment_total }}
                                </button>
                            </div>
                            <a href='/likecomment/{{ comment.id }}/'>
                                <button>
                                    LIKE COMMENT
                                </button>
                            </a>
                            
                            <a href='/dislikecomment/{{ comment.id }}/'>
                                <button>
                                    DISLIKE COMMENT
                                </button>
                            </a>
                            {% endif %}
                            <br>
                            {{ comment.content }}
                            <br>
                            <!-- <strong><small>comment.date|naturaltime </small></strong> -->
                            <strong><small>{{ comment.created_on }}</small></strong>
                        </p>
                    </div>

            </article>
            {% endfor %}

            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        {% if request.user.pro.post_image %}
                        <img src="{{ request.user.pro.post_image.url }}" alt="Placeholder image">
                        {% else %}
                        <img src="{{ comment.comment.image.url }}" alt="Placeholder image">
                        {% endif %}
                    </p>
                </figure>
                <div class="media-content">
                    <form method="post" action="" role="form">
                        {% csrf_token %}
                        <div class="field">
                            <p class="control">
                                {{ form.content }}
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <button type="submit" name="action" class="button">Post comment</button>
                            </p>
                        </div>
                    </form>
                </div>
            </article>
        </div>



    </div>
</div>

{% endblock %}