{% extends 'base.html' %}

{% load static %}

<!-- TODO Repeat Todo 1 -->
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div>
        <h4 style="text-align:center"> 🔥🔥🔥 アニメ カード 🔥🔥🔥</h4>
        <div class="card">
            <img src="{{post.image.url}}" alt="post" style="width:100%">
            <div style="margin: 24px 0;">
                <a href='/like/{{ post.id }}/'><i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
                    <a href='/dislike/{{ post.id }}/'><i onclick="myFunction(this)" class="fa fa-thumbs-down"></i>



                        <a href="/">🏠</a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <h5>❤️ {{ post.post_total}} Anime member :{{ post.anime_user }}</h5>
                        <h5>📝 Caption: {{ post.image_caption }}</h5>
                        <h5>📅 Uploaded : {{ post.post_creation }}</h5>
                        <!-- <h5 class="fonts">📅 genre: {{ post.id.anime_genre}}</h5> -->

                        <h1 onclick="myFunction2()"> 🃏 </h1>
            </div>

            <!-- Todo: You might need to delte the placeholder if it's not working -->
            <article class="media">
                <div class="media-content">
                    <form method="post" action="" role="form">
                        {% csrf_token %}
                        <div class="field">
                            <p class="control">
                                {{ form.content }}
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <button type="submit" name="action" class="button">Post comment</button>
                            </p>
                        </div>
                    </form>
                </div>
            </article>
        </div>
        <script>
            function myFunction(x) {
                x.classList.toggle("fa-thumbs-down");
                x.classList.toggle("fa-thumbs-up");

            }
            function myFunction2() {
                location.replace("https://anidb.net/anime/schedule")
            }
        </script>
    </div>
    <br>

    <div class="card-content">
        <div class="media">

            <div class="card-content">

                {% for comment in comments %}
                <h6 style="text-align:center">
                    <div class="chipcontainer2">
                        <div class="chip">
                            <img src="{{ post.image.url }}" alt="Person" width="50" height="50">
                            <div class="username2">{{ comment.author}}❤
                            </div>
                        </div>
                </h6>
                <div class="card">
                    <h5> 💬 {{ comment.content }} ❕</h5>
                    <p> 🔔 {{ comment.comment_total }} ❤️ <strong><small> {{ comment.created_on }}</small></strong></p>
                    <p>👉 <a href='/editcomment/{{ comment.id }}/'>⌨️</a>
                        <a href='/deletecomment/{{ comment.id }}/'>❌</a>
                    </p>

                    <p>🙏 ありがとうございました {{ post.anime_user }}</p>
                    <div style="margin: 24px 0;">
                        <a href='/likecomment/{{ comment.id }}/'><i onclick="myFunction(this)"
                                class="fa fa-thumbs-up"></i>
                            <a href='/dislikecomment/{{ comment.id }}/'><i onclick="myFunction(this)"
                                    class="fa fa-thumbs-down"></i>
                                <a href="/">🏠</a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    {% endfor %}


    </div>
    </div>
    </div>
    <div>
        <h6 style="text-align:center">
            <i>&copy;AnimeGram enthusiast since: {{ request.user.created_on }}</i>
        </h6>
    </div>
</body>

</html>

{% endblock %}