{% extends 'base.html' %}

{% load static %}

<!-- TODO Repeat Todo 1 -->
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div>
        <h4 style="text-align:center"> 🔥🔥🔥 アニメ Card 🔥🔥🔥</h4>
        <div class="card">
            <img src="{{post.image.url}}" alt="post" style="width:100%">
            <!-- <h1>❤️ {{ post.post_total }}</h1>
            {{ post.post_total }} -->

            <!-- <a href='/like/{{ post.id }}/'><i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
                <a href='/dislike/{{ post.id }}/'><i onclick="myFunction(this)" class="fa fa-thumbs-down"></i> -->

            <!-- <a href='/dislike/{{ post.id }}/'><i class="fa fa-thumbs-down"></i></a> -->

            <div style="margin: 24px 0;">
                <a href="/">🏠</a>
                <a href='/like/{{ post.id }}/'><i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
                    <a href='/dislike/{{ post.id }}/'><i onclick="myFunction(this)" class="fa fa-thumbs-down"></i>

                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <h5>❤️ {{ post.post_total}} Anime member :{{ post.anime_user }}</h5>
                        <h5>📝 Caption: {{ post.image_caption }}</h5>
                        <h5>📅 Uploaded : {{ post.post_creation }}</h5>
                        <h1 onclick="myFunction2()"> 🃏 </h1>
            </div>

            <!-- <p><a href="/">
                    <button>
                        🏠 Home
                    </button>
                </a>
            </p> -->
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        {% if request.user.pro.post_image %}
                        <img src="{{ request.user.pro.post_image.url }}" alt="Placeholder image">
                        {% else %}
                        <img src="{{ comment.comment.image.url }}" alt="Placeholder image">
                        {% endif %}
                    </p>
                </figure>
                <div class="media-content">
                    <form method="post" action="" role="form">
                        {% csrf_token %}
                        <div class="field">
                            <p class="control">
                                {{ form.content }}
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <button type="submit" name="action" class="button">Post comment</button>
                            </p>
                        </div>
                    </form>
                </div>
            </article>
        </div>
        <script>
            function myFunction(x) {
                x.classList.toggle("fa-thumbs-down");
                x.classList.toggle("fa-thumbs-up");

            }
            function myFunction2() {
                location.replace("https://anidb.net/anime/schedule")
            }
        </script>


        <!-- <img src="{{post.image.url}}" alt="post"> -->
    </div>

    <!-- <div>
        <button>
            {{ post.post_total }}
        </button>
    </div> -->
    <!-- <a href='/like/{{ post.id }}/'>
        <button>
            LIKE
        </button>
    </a>

    <a href='/dislike/{{ post.id }}/'>
        <button>
            DISLIKE
        </button>
    </a> -->

    <br>

    <div class="card-content">
        <div class="media">

            <div class="card-content">

                {% for comment in comments %}
                <!-- <article class="media">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            {% if comment.user.pro.post_image %}
                            <img src="{{ comment.post.image.url }}" alt="Placeholder image">
                            {% else %}
                            <img src="/media/images/1.gif" alt="Placeholder image">
                            {% endif %}
                        </p>
                    </figure>

                    <div class="media-content">
                        <div class="content">
                            <p>
                                {% if comment.user.pro.first_name %}
                                <strong>{{ comment.user.pro.first_name }} {{ comment.user.pro.last_name
                                    }}</strong><small>
                                    @{{ comment.author }}</small>
                                {% else %}
                            <div> -->


                <h6 style="text-align:center">
                    <div class="chip">
                        <img src="{{ post.image.url }}" alt="Person" width="50" height="50">
                        {{ comment.author}}❤
                    </div> commented 🔥🔥🔥
                </h6>
                <div class="card">
                    <!-- <img src="{{post.image.url}}" alt="post" style="width:100%"> -->
                    <!-- <p>{{ comment.author}} commented 👇👉</p> -->

                    <p> 👉 " {{ comment.content }} "</p>
                    <p> 👉 {{ comment.comment_total }} ❤️ <strong><small> {{ comment.created_on }}</small></strong></p>
                    <!-- <h3>❤️
                        {{ comment.comment_total }}
                    </h3> -->

                    <p>👉 <a href='/editcomment/{{ comment.id }}/'>⌨️</a>
                        <a href='/deletecomment/{{ comment.id }}/'>❌</a>
                    </p>

                    <!-- <a href='/dislike/{{ post.id }}/'><i class="fa fa-thumbs-down"></i></a> -->
                    <p>🙏 ありがとうございました {{ post.anime_user }}</p>
                    <div style="margin: 24px 0;">
                        <a href='/likecomment/{{ comment.id }}/'><i onclick="myFunction(this)"
                                class="fa fa-thumbs-up">{{ comment.likes }}</i>
                            <a href='/dislikecomment/{{ comment.id }}/'><i onclick="myFunction(this)"
                                    class="fa fa-thumbs-down">{{ comment.dislike }}</i>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <strong>Comment</strong>
                    <div>
                        <button>
                            {{ comment.comment_total }}
                        </button>
                    </div>
                    <a href='/likecomment/{{ comment.id }}/'>
                        <button>
                            LIKE COMMENT
                        </button>
                    </a>

                    <a href='/dislikecomment/{{ comment.id }}/'>
                        <button>
                            DISLIKE COMMENT
                        </button>
                    </a> -->
    <!-- <a href='/editcomment/{{ comment.id }}/'>
                        <button>
                            EDIT COMMENT
                        </button>
                    </a>

                    <a href='/deletecomment/{{ comment.id }}/'>
                        <button>
                            DELETE COMMENT
                        </button>
                    </a> -->
    <!-- {% endif %} -->
    <br>
    <!-- {{ comment.content }} -->
    <br>
    <!-- <strong><small>comment.date|naturaltime </small></strong> -->
    <!-- <strong><small>{{ comment.created_on }}</small></strong> -->
    <!-- </p> -->
    <!-- </div> -->

    <!-- </article> -->
    {% endfor %}

    <!-- <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
                {% if request.user.pro.post_image %}
                <img src="{{ request.user.pro.post_image.url }}" alt="Placeholder image">
                {% else %}
                <img src="{{ comment.comment.image.url }}" alt="Placeholder image">
                {% endif %}
            </p>
        </figure>
        <div class="media-content">
            <form method="post" action="" role="form">
                {% csrf_token %}
                <div class="field">
                    <p class="control">
                        {{ form.content }}
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <button type="submit" name="action" class="button">Post comment</button>
                    </p>
                </div>
            </form>
        </div>
    </article> -->
    </div>



    </div>
    </div>
    <div>
        <h6 style="text-align:center">
            <i>&copy;AnimeGram enthusiast since: {{ request.user.created_on }}</i>
        </h6>
    </div>
</body>

</html>

{% endblock %}